/* From the JQuery UI demo: http://jqueryui.com/slider/#colorpicker */

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 20px;
}
#swatch {
  width: 120px;
  height: 100px;
  margin-top: 30px;
  margin-left: 350px;
  background-image: none;
}
#footer {
  float: left;
  clear: left;
    width: 320px;
    height: 200px;
    margin-top: 60px;
    background-image: none;
}
#clickbuttons {
  float: left;
  clear: left;
    margin: 25px;
    background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }